.container.text-center
    %h1 Testing Website for deployment
    %p Hello doctor my feet hurts very much!
    %br

.container.mx-auto.text-center
    %button.bg-bluehover.bg-blue-dark.text-white.font-bold.py-2.px-4.rounded Hello
    %br
    %p What up Coding homie
    %br
    %p= Time.now
    %a.link{:href => "shame.html"} Shame!
    %br

.container.mx-auto.text-center
    %img(src="./images/shame.jpeg" alt="Shame!")
    %br/


%form{method: "POST", name: "contact", netlify: ""}
    %p
        %label
        Your Name:
        %input{name: "name", type: "text"}
        %br
    %p
        %label
        Your Email:
        %input{name: "email", type: "email"}
        %br
    %p
        %label
        Message:
        %textarea{name: "message"}
        %br
    %p
        %button{type: "submit"} Send