.container.text-center
    %h1 Testing Website for deployment
    %p Hello doctor my feet hurt
    %br

.container.mx-auto.text-center
    %button.bg-bluehover.bg-blue-dark.text-white.font-bold.py-2.px-4.rounded Hello
    %br
    %p What up homie
    %br
    %p= Time.now
     %a.link{:href => "shame.html"} Shame!
   %br

.container.mx-auto.text-center
    %img(src="./images/shame.jpeg" alt="Shame!")
    %br/
